<div class="row">
	<div class="col-md-12">
		<div class="card" id="card">
			<div class="card-body d-flex justify-content-between align-items-center">
				<h5>{{'All Orders' | translate}}</h5>
				<div class="d-flex" style="gap: 10px;">
					<form (ngSubmit)="generateReport()"
						class="d-flex justify-content-between align-items-center flex-wrap" style="gap: 10px;">
						<div class="form-group">
							<label for="startDate" class="form-label">Fecha de inicio:</label>
							<input id="startDate" type="date" [(ngModel)]="startDate" name="startDate"
								class="form-control">
						</div>

						<div class="form-group">
							<label for="endDate" class="form-label">Fecha de fin:</label>
							<input id="endDate" type="date" [(ngModel)]="endDate" name="endDate" class="form-control">
						</div>

						<div class="form-group">
							<label for="status" class="form-label">Estado:</label>
							<select id="status" [(ngModel)]="selectedStatus" name="status" class="form-control">
								<option value="rejected">Rechazada</option>
								<option value="canceled">Cancelada</option>
								<option value="delivered">Entregada</option>
								<option value="created">Creado</option>
							</select>
						</div>

						<button type="submit" class="btn btn-warning rounded text-dark font-weight-bold">Generar
							Reporte</button>
					</form>
				</div>
			</div>
			<div class="card-body reset-table p-t-0">
				<div class="form-group row d-flex justify-content-start align-items-center">
					<div class="col-sm-5">
						<input type="text" class="form-control"
							[placeholder]="('Search Order By ID' | translate) || '&nbsp;'"
							(input)="search($event.target.value)">
					</div>
				</div>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="text-uppercase">
								<th>ID</th>
								<th>{{'User' | translate}}</th>
								<th>{{'User Name' | translate}}</th>
								<th>{{'Restaurant' | translate}}</th>
								<th>{{'Ordered on' | translate}}</th>
								<th>{{'Status' | translate}}</th>
								<th>{{'Driver' | translate}}</th>
								<th>{{'Total' | translate}}</th>
								<th>{{'Quantity' | translate}}</th>
								<th>{{'Actions' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of dummy">
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                        'border-radius': '5px',
                        height: '10px',
                        border: '1px solid white'
                      }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                            'border-radius': '5px',
                            height: '10px',
                            border: '1px solid white'
                        }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                            'border-radius': '5px',
                            height: '10px',
                            border: '1px solid white'
                          }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                        'border-radius': '5px',
                        height: '10px',
                        border: '1px solid white'
                      }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                          'border-radius': '5px',
                          height: '10px',
                          border: '1px solid white'
                        }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                          'border-radius': '5px',
                          height: '10px',
                          border: '1px solid white'
                        }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                        'border-radius': '5px',
                        height: '10px',
                        border: '1px solid white'
                      }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                          'border-radius': '5px',
                          height: '10px',
                          border: '1px solid white'
                        }"></ngx-skeleton-loader>
								</td>
								<td>
									<ngx-skeleton-loader count="1" [theme]="{
                                    'border-radius': '5px',
                                    height: '10px',
                                    border: '1px solid white'
                                }"></ngx-skeleton-loader>
								</td>
							</tr>
							<tr *ngFor="let item of orders;let i = index">
								<td>{{item.id}}</td>
								<td><a href="javascript:;"><img class="img-responsive"
											style="height: 40px;border-radius: 50%;object-fit:cover;"
											[src]="item.uid.cover" onError="this.src='assets/images/user.png'"
											alt="chat-user"></a>
								</td>
								<td> {{item.uid.fullname}}</td>
								<td>{{item.vid.name}}</td>
								<td>{{getDates(item.time)}}</td>
								<td>
									<button type="button" disabled [className]="getClass(item.status)">
										{{item.status | translate}}
									</button>
								</td>
								<td>
									<button *ngIf="item.status=='accepted' || item.status=='rejected'" type="button"
										class="btn  btn-warning text-dark rounded font-weight-bold"
										(click)="openSetDriver(item)">
										{{'Driver assign' | translate}}
									</button>
									<button *ngIf="item.status!='accepted' && item.status!='rejected'" type="button"
										class="btn btn-warning text-dark rounded font-weight-bold"
										(click)="openSetDriver(item)">{{'Driver
										assign' | translate}}
									</button>
								</td>
								<td> {{getCurrency()}} {{item.grandTotal}}</td>
								<td>{{item.order.length}}</td>
								<td><button type="button" (click)="openOrder(item)"
										class="btn btn-primary rounded font-weight-bold">{{'View' |
										translate}}</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>